.title {
    width: 100%;
    text-align: center;
    align-items: center;
    top: 0%;
    color: #ffffe0;
    display: flex;
}

.body {
    color: #98FB98;
}

.feeding {
    color: #ADD8E6;
}

.company-logo {
    width: 648px;
    height: 136px;
}

.babybottle {
    width: 320px;
    height: 240px;
}

h1,
h3,
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00008B;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00008B;
    size: 14px;
}